extends layout

block content
  .container.emp-profile1
    form#home(action=' ')
      h2 Edit Article
  .container.emp-profile
    form(method='POST', action='/articles/edit/'+article._id)
      #form-group
        label Title:
        input.form-control(name='title', type='text',value=article.title)
        br
      #form-group
      label Author:
      input.form-control(name='author', type='text',value=article.author)
      #form-group
        label Body:
        textarea.form-control(name='body')= article.body
      br
      input.btn.login-btn(type='submit',value='Submit')
