extends layout

block content
  .container.emp-profile1
    form#home(action=' ')
      h2 Edit Profile
  .container.emp-profile
    form(method='POST', action='/articles/editpp/'+user._id)
      #form-group
        label Name:
        input.form-control(name='name', type='text',value=user.name)
        br
      #form-group
        label Username:
        input.form-control(name='username', type='text',value=user.username)
        br
      #form-group
        label Email:
        textarea.form-control(name='email', value=user.email)
      br
      input.btn.login-btn(type='submit',value='Submit')
