extends layout

block content
  .container.emp-profile1
    form#home(action=' ')
      h2 Articles
  .container.emp-profile
    form(action=' ')
      ul.list-group
        each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)=article.title
