extends layout

block content
  .container.emp-profile
    form(action=' ')
      i.fas.fa-atlas(style='font-size:36px')
        h2 Articles
  .container.emp-profile
    form(action=' ')
      ul.list-group
        each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)=article.title
