extends layout

block content
  .container.emp-profile
    form(action=' ')
      h2.myH2 Articles
      ul.list-group
        each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)=article.title
