doctype html
html
  head
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style1.css')
    link(rel='stylesheet' href='/css/style2.css')
    title Articles By the Ocean

  body
    nav.nav
      .container
        .logo
          a.nav-link(img(src='/img/android-icon-192x192.png', width='48', height='48'))
        #mainListDiv.main_list
          ul.navlinks
            li
              a(href='#') About
            li
              a(href='#') Portfolio
            li
              a(href='#') Services
            li
              a(href='#') Contact
        span.navTrigger
          i
          i
          i
    section.home
    br
    div(style='height: 50px')
      // just to make scrolling effect possible
      h2.myH2 What is this ?
      p.myP This is a responsive fixed navbar animated on scroll


      
    // Jquery needed
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/scripts.js')
    // Function used to shrink nav bar removing paddings and adding black background
    script.
      $(window).scroll(function() {
      if ($(document).scrollTop() > 50) {
      $('.nav').addClass('affix');
      console.log("OK");
      } else {
      $('.nav').removeClass('affix');
      }
      });

              

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
           
      
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
