extends layout

block content
  .container.emp-profile
    form(action=' ')
        h1 Our teams
        div
        div(classname='container mt-5')
            div(classname='card')
            img(src='https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/p960x960/40531764_2001447189894743_3946805805193363456_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_eui2=AeHCVOX3-Skv1FapoZL2lpfpa-p3TokHDt5r6ndOiQcO3rJmOXIVKf6PvUpXvtWlc-599oVT_rlJtnayKK2wpeb2&_nc_oc=AQkN5hZRD5turh4kKVrJoB9sfXhGCV5x_MZcwa6S4HzVneZOzHzZmRbQR7z9oKzMQxM&_nc_ht=scontent.fcnx2-1.fna&_nc_tp=6&oh=92abbef86ee4f70eb6b550f6072a4585&oe=5EB63A88', classname='card-img-top', alt='...', width='200')
            div(classname='card-body')
                h5(classname='card-title') Developer information
                p Jirapa Singnoi (610610574)
                p This app use MongoDB as backend.
            img(src='https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/p960x960/40531764_2001447189894743_3946805805193363456_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_eui2=AeHCVOX3-Skv1FapoZL2lpfpa-p3TokHDt5r6ndOiQcO3rJmOXIVKf6PvUpXvtWlc-599oVT_rlJtnayKK2wpeb2&_nc_oc=AQkN5hZRD5turh4kKVrJoB9sfXhGCV5x_MZcwa6S4HzVneZOzHzZmRbQR7z9oKzMQxM&_nc_ht=scontent.fcnx2-1.fna&_nc_tp=6&oh=92abbef86ee4f70eb6b550f6072a4585&oe=5EB63A88', classname='card-img-top', alt='...', width='200')
            div(classname='card-body')
                h5(classname='card-title') Developer information
                p Jirapa Singnoi (610610574)
                p This app use MongoDB as backend.



