doctype html
html
  head
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style1.css')
    title Articles By the Ocean

  body
    nav.nav
      .container
        .logo
          a(href='#') Your Logo
        #mainListDiv.main_list
          ul.navlinks
            li
              a(href='#') About
            li
              a(href='#') Portfolio
            li
              a(href='#') Services
            li
              a(href='#') Contact
        span.navTrigger
          i
          i
          i
    section.home
    div(style='height: 50px')
      // just to make scrolling effect possible
      h2.myH2 Our Team
      
    // Jquery needed
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/scripts.js')
    // Function used to shrink nav bar removing paddings and adding black background
    script.
      $(window).scroll(function() {
      if ($(document).scrollTop() > 50) {
      $('.nav').addClass('affix');
      console.log("OK");
      } else {
      $('.nav').removeClass('affix');
      }
      });

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
           
      
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')


block content
  .container.emp-profile
    form(action=' ')
    .row
      .col-md-4
        .profile-img
          img(src='https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/p960x960/40531764_2001447189894743_3946805805193363456_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_eui2=AeHCVOX3-Skv1FapoZL2lpfpa-p3TokHDt5r6ndOiQcO3rJmOXIVKf6PvUpXvtWlc-599oVT_rlJtnayKK2wpeb2&_nc_oc=AQkN5hZRD5turh4kKVrJoB9sfXhGCV5x_MZcwa6S4HzVneZOzHzZmRbQR7z9oKzMQxM&_nc_ht=scontent.fcnx2-1.fna&_nc_tp=6&oh=92abbef86ee4f70eb6b550f6072a4585&oe=5EB63A88', classname='card-img-top', alt='...', width='200')
      .col-md-6
        .profile-head
          p.myP
            | Developer information
            br
            | Jirapa Singnoi (610610574)
          p.myP
            | Student
    br
    br
    .row
      .col-md-4
        .profile-img
          img(src='https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/p960x960/40531764_2001447189894743_3946805805193363456_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_eui2=AeHCVOX3-Skv1FapoZL2lpfpa-p3TokHDt5r6ndOiQcO3rJmOXIVKf6PvUpXvtWlc-599oVT_rlJtnayKK2wpeb2&_nc_oc=AQkN5hZRD5turh4kKVrJoB9sfXhGCV5x_MZcwa6S4HzVneZOzHzZmRbQR7z9oKzMQxM&_nc_ht=scontent.fcnx2-1.fna&_nc_tp=6&oh=92abbef86ee4f70eb6b550f6072a4585&oe=5EB63A88', classname='card-img-top', alt='...', width='200')
      .col-md-6
        .profile-head
          p.myP
            | Developer information
            br
            | Jirapa Singnoi (610610574)
          p.myP
            | Student




