extends layout

block content
  .container.emp-profile1
    form#home(action=' ')
      h2 Our team
  .container.emp-profile1
    .row
      .col-md-4
        .profile-img
          img(src='/img/Jane.jpg', classname='card-img-top', alt='...', width='200')
      .col-md-6
        .profile-head
          h4
            | Developer information
            br
            | Jiraphat Singnoi (610610573)
          h4
            | Student
    br
    br
    .row
      .col-md-4
        .profile-img
          img(src='/img/Tong.jpg', classname='card-img-top', alt='...', width='200')
      .col-md-6
        .profile-head
          h3
            | <b>Developer information
            br
          h4
            | Nawapon Srichuwong (610610592)
          h4
            | Student




