doctype html
html
  head
    title Articles By the Ocean
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style1.css')
    link(rel='shortcut icon', type='image/png',href='img/favicon-16x16.png')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') Articles By the Forest
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href='/articles/ourteam')
              | Our team 
          if user
            li.nav-item
              a.nav-link(href='/articles/add') Add books
          if user
            li.nav-item
              a.nav-link(href='/articles/profile') Profile  
        ul.nav.navbar-nav.navbar-right
          if user
            li 
              a.nav-link(href='/users/logout') Logout
          else
            li
              a.nav-link(href='/users/register') Register
            li
              a.nav-link(href='/users/login') Login
              

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br     
      
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

block content
.container.emp-profile
  form(method='post')
    .row
      .col-md-4
        .profile-img
          img(src='https://instaker.com/user-img.png', alt='')
      .col-md-6
        .profile-head
          h5
            | Name
          h6
            | #{author}
            br
            br
            br
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item
              a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') About
      .col-md-2
        input.profile-edit-btn(type='submit', name='btnAddMore', value='Edit Profile')
    .row
      .col-md-4
      .col-md-8
        #myTabContent.tab-content.profile-tab
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
            .row
              .col-md-6
                label User Id
              .col-md-6
                p Kshiti123
            .row
              .col-md-6
                label Name
              .col-md-6
                p Kshiti Ghelani
            .row
              .col-md-6
                label Email
              .col-md-6
                p kshitighelani@gmail.com
            .row
              .col-md-6
                label Phone
              .col-md-6
                p 123 456 7890
