extends layout

block content
    form#login-form(method='POST',action='/profiles/add')
        h5 Written by #{author}
        h5 = email
        h5 = username
        a.btn.btn-warning(href='/profiles/edit/') Edit
