extends layout

block content
  form#login-form(method='POST', action='/articles/add')
    h1 Add books
    #form-group
      input.form-control(name='title', type='text', placeholder='Title')
    #form-group
      br
      textarea.form-control(name='body', placeholder='Body')
    br
    input.btn.login-btn(type='submit',value='Submit')
